<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
<h1> New User </h1>
<form action="/user/new" method="POST">
  <input type="file" name="myImage" accept="image/*" />
  <br>
  <input type="text" placeholder="name" name="name">
  <br>
  <input type="text" placeholder="email" name="email">
  <br>
  <input type="text" placeholder="address" name="address">
  <br>
  <input type="text" placeholder="speciality" name="speciality">
  <br>	
  <button type="submit">Submit</button>
</form>
</body>
</html>