<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
<h1> Search User</h1>
<form action="/user/search" method="POST">
  <input type="text" placeholder="email	" name="email">
  <button type="submit">Submit</button>
</form>
</body>
</html>